<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongling.birthdate.mapper.GoodsOrghisInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kongling.birthdate.entity.PO.GoodsOrghisInfo">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="date" property="date" />
        <result column="time" property="time" />
        <result column="date_time" property="dateTime" />
        <result column="open" property="open" />
        <result column="volume" property="volume" />
        <result column="timestamp" property="timestamp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, date, time, date_time, open, volume, timestamp
    </sql>

</mapper>
