<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kongling.platform.mapper.AdminPermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kongling.platform.entity.PO.AdminPermission">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="menu_url" property="menuUrl" />
        <result column="menu_lev" property="menuLev" />
        <result column="menu_class" property="menuClass" />
        <result column="menu_type" property="menuType" />
        <result column="parent_id" property="parentId" />
        <result column="menu_order" property="menuOrder" />
        <result column="create_time" property="createTime" />
        <result column="timestamp" property="timestamp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_name, menu_url, menu_lev, menu_class, menu_type, parent_id, menu_order,create_time,timestamp
    </sql>
    <!--查询权限列别-->
    <select id="selectPermissionsBy" resultType="com.kongling.platform.entity.PO.AdminPermission"
            parameterType="com.kongling.platform.entity.VO.RolePermission.AdminPermissionVO">
      select
      id, menu_name, menu_url, menu_lev,  menu_type, parent_id, menu_order,create_time
      from admin_permission
      <where>
          <if test="menuType !=null">
              and menu_type = #{menuType}
          </if>
          <if test="menuLev !=null">
              and menu_lev = #{menuLev}
          </if>
          <if test="parentId !=null">
              and parent_id = #{parentId}
          </if>
      </where>
      order by menu_order desc
    </select>

    <!--递归查询权限信息sql 数据  -->
    <select id="getPermissionsRecAll"  resultType="com.kongling.platform.entity.VO.RolePermission.AdminPermissionRecListVO">
        select
          menu1.*,
           (SELECT (select count(arp.id) from admin_role_permission  arp
            LEFT JOIN admin_role ar on  ar.id = arp.role_id
            where  arp.permission_id =menu1.id and ar.id=#{roleId} ) >0) as checked
          from admin_permission  menu1
          where menu1.parent_id=#{parentId}
          order by menu1.menu_order desc
    </select>




</mapper>
